.post-container{
    background-image: url("../images/augustine-wong-li0iC0rjvvg-unsplash.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;

}
.postModal label{
    color: #000000 !important;
}

.post-container{
    padding: 30px;
    text-align: center;
}

.post-container h2{
    color: #444444;
}
.input{
    width: 600px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: none;
    margin-top: 0;
}

img{
    width: 400px;
}

label p{
    margin-top: 5px;
    margin-bottom: 16px;
    color: rgb(100, 100, 100);
    font-size: 13px;
}
.ql-toolbar.ql-snow {
    border: none !important;
   
}

.ql-container.ql-snow {
     border: none !important;
}

.react-tagsinput{
    width: 600px !important;
        height: 30px !important;
        border-radius: 10px !important;
       
        padding: 10px !important;
        background-color: #f1f1f1 !important;
        outline: none !important;
        border: none !important;
}

.react-tagsinput-tag {
    color: rgb(55, 55, 55) !important;
    background-color: #1c701a8c !important;
    border-radius: 30px !important;
    border: none !important; 
   
    display: inline-block !important;
    font-family: sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    padding: 7px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  
    text-align: right !important;
}

form {
    text-align: left;
}