header{
    background-color: #000000;
    color: white;
}

.nav-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    
   padding-top: 8px;
   padding-bottom: 8px;
  
  
   background-color: #101010;
   color: #e9eef2;
}

.nav-right-container{
    display: grid;
    grid-template-columns: auto auto ;
        justify-content: space-between;
        column-gap: 5px;
        align-items: center;
        margin-right: 60px;
        border-radius: 30px;
        border:1px solid rgb(191, 191, 191);
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
       
       
}

.nav-right-container p{
margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: rgb(191, 191, 191);
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
   width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
     padding: 10px;
    border-radius: 10px;
}

.dropdown-content p{
    color: #101010;
    cursor: pointer;
  
}

.dropdown-content p:hover{
color: #01bf71;
}

/* .dropdown-content a:hover {
    background-color: #ddd;
} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.nav-search-container{
    display: grid;
    column-gap: 10px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        position: relative;
       
}
.nav-search-container input{
    color: #8e8e8e;
    padding-left: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 30px;
   border: none;
    width:300px;
    outline: none;
}

.nav-search-container input::placeholder{
    margin-right: 50px;
}
.nav-left{
    margin-left: 60px;
}
.nav-left p{
    color: #01bf71;
}
.logo{
font-family: 'Poiret One', cursive;
color: #01bf71;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}
.special{
    color:#D3D3D3;
}

.body{
    background-color: #fafafa;
    height: fit-content;
    border-radius: 30px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;

}

.body h1{
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
  
padding-bottom: 20px;
}
.cardC-title {
background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(33, 0, 25, 0.418)),url('../images/pexels-fauxels-3184339.jpg');
object-fit:cover;
background-size: cover;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: 70px;
}

.cardC-title h1 {
    padding-top: 25px;
}

.cardD-title h1{
    padding-top: 25px;
}

.cardD-title {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(33, 0, 25, 0.418)), url('../images/pexels-felix-mittermeier-956981.jpg');
    object-fit: cover;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 70px;
}

.cardA-title h1 {
    padding-top: 25px;
}

.cardA-title {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(33, 0, 25, 0.418)), url('../images/pexels-oladimeji-ajegbile-3314294.jpg');
    object-fit: cover;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 70px;
}

.cardP-title h1 {
    padding-top: 25px;
}

.cardP-title {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(33, 0, 25, 0.418)), url('../images/pexels-christina-morillo-1181467.jpg');
    object-fit: cover;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 70px;
}
/* 

.card-title img{
    height: 80px;
    width: 80px;
} */
.newPost{
   text-align: right;
        margin: 0;
        padding: 10px;
}
.content{
    margin-top: 50px;
}

video {
    width: 100%;
}

.con{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(235, 235, 235);
}
.post-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    column-gap: 1px;
    justify-content: space-between;
}

.post-grid input{
    width: 300px;
    max-width: 300px;
    
    border-radius: 30px;
        border: none;
        color: #8e8e8e;
        outline: none;
        background-color: #f1f1f1;
        padding-left: 15px;
        padding-right: 15px;
}

.tag{
background: #25b02325;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    color: rgb(61, 61, 61);
    /* border: 0.1px solid rgb(1, 69, 1); */
    border-radius: 30px;
    width: fit-content;
    min-width: 60px;
    max-width: 70px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.popular-tags{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.css-1wnsr1i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: none !important;
    border-radius: 30px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 32px;
}

.community{
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-align: left;
    margin-top: 5px;
}

.community-con{
margin-top: 20px;
    padding-top: 0 !important;
    padding: 30px;
    text-align: center;
}

.name{
    font-size: 15px;
  
    margin-bottom: 3px;
}

.members{
   font-size: 12px;
    color: #7d7d7d;
    margin-top: 0;
}

.quest{
    display: flex;
        align-items: center;
        column-gap: 15px;
        text-align: left;
        margin-top: 25px;
}

.quests{
    margin-top: 20px;
        padding-top: 0 !important;
        padding: 30px;
        text-align: center;
}

.quest-title{
    font-size: 15px;
}

.css-5xe99f-MuiLinearProgress-bar1 {
    
 
    background-color: #01bf71 !important;
}